html {
  background-color: rebeccapurple;
  overflow: hidden;
}

body {
  overflow: hidden;
  height: 100vh;
}

/* 채널별 내용 */
.channelInsideContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: calc(100vh - 40px);
  >*{
    width: 100%;
  }
  .channelInsideContentWrap {
    padding: 0 24px;
    overflow: auto;
  }
}
