.innerSubMenu {
  background-color: #37508c !important;
  padding: 28px 8px 8px 8px;
  * {
    color: #ffffff;
  }
  h1 {
    font-size: 1.1rem;
  }

  .section-title {
    .v-list-subheader__text {
      color: #dfe8ff;
    }
    font-size: 11px;
    padding: 4px 0px !important;
  }

  .v-list--density-default .v-list-subheader {
    padding-inline-start: 0 !important;
  }

  .v-list-item--density-default.v-list-item--one-line {
    border-radius: 8px !important;
    padding: 4px 8px !important;
    margin-left: 14px !important;
    &.selected-item {
      background-color: #69a0f2; /* 선택된 항목의 배경 색상 */
    }
  }

  .v-list-item--density-default.v-list-item--one-line {
    min-height: auto !important;
  }
  .channel-item {
    font-size: 12px !important;
  }
}
